.about-section {
  margin-top: 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  scroll-margin-top: 5em;
}
.section-head {
  display: flex;
  justify-content: center;
  font-size: 2em;
  align-items: center;
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
}
/* .accordion-header button {
  background-color: var(--third-color);
  width: 1.5em;
  height: 1.5em;
  border: none;
  border-radius: 1em;
  font-weight: 600;
  color: white;
} */

.whole-accordion {
  background-color: #001e38;
  color: white;
  padding: 1em;
  margin-bottom: 0.5em;
}
.accordion-header span {
  color: var(--third-color);
  font-size: 1.2em;
}
.about {
  width: 70%;
}
.accordion-content {
  width: 80%;
  font-size: 0.8em;
  margin-top: 1em;
  transition: 1s ease;
}

/* Main about styles */
.main-about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.8em;
  margin-bottom: 4.5rem;
}
.main-about img {
  height: 20em;
}
.about-image {
  position: relative;
}
.square {
  border: 13px solid var(--primary-color);
  height: 20em;
  position: absolute;
  width: 368px;
  top: 4em;
  left: -4em;
  z-index: -2;
}
.main-about .header h3 {
  font-size: 1.5em;
  color: var(--fourth-color);
}
.main-about .header p {
  font-size: 1.2em;
}
.about-section .icon {
  font-size: 1em;
  margin-right: 0.5em;
}
.more-info p:nth-child(4) .icon,
.more-info p:nth-child(5) .icon {
  font-size: 1.1em;
}
.info-section .more-info p {
  display: flex;
  align-items: center;
}

.more-info p {
  color: #000000;
}
.more-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 2em;
  height: 50%;
}
.more-info p span {
  color: black;
  display: flex;
  align-items: center;
  font-weight: bold;
}
/*responsive styles*/
@media only screen and (max-width: 760px) {
  .about {
    padding: 1em;
    width: 100%;
  }
  .main-about {
    grid-template-columns: 1fr;
    margin-bottom: 1rem;
  }

  .about-image {
    margin-bottom: 3em;
  }
}
