.about {
  margin-top: 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-head {
  display: flex;
  justify-content: center;
  font-size: 2em;
  align-items: center;
}
.about-me {
  background-image: linear-gradient(to bottom right, #001e38, #002647);
  color: white;
}
.accordion-header {
  display: flex;
  justify-content: space-between;
}
.whole-accordion {
  background-color: #001e38;
  color: white;
  padding: 1em;
}
.head p {
  width: 70%;
}
