.contact-info {
  display: flex;
  align-items: center;
}
.contact-info div p:nth-child(1) {
  font-size: 0.8em;
  color: rgb(194, 194, 194);
}
.contact-info div p:nth-child(2) {
  font-size: 0.9em;
}
.contact-info span {
  font-size: 1em;
  display: flex;
  margin-right: 0.5em;
  background-color: #0580ec;
  padding: 0.5em;
  border-radius: 1em;
}
.right input {
  padding: 0.5em;
  outline: none;
}
.right form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
.right form textarea {
  grid-column: span 2;

  padding: 0.5em;
  outline: none;
  resize: vertical;
  min-height: 5em;
  max-height: 8em;
}
.right form button {
  grid-column-start: 2;
  background-color: gold;
  height: 2em;
  width: 8em;
  border: none;
  border-radius: 0.2em;
  justify-self: end;
}
.right form button:hover {
  background-color: #dcbb00;
}
.contact-sec {
  scroll-padding-top: 5em;
  padding: 3em;
}
.get-in-touch-sec {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #002647;
  position: relative;
  padding: 5em;
}
.get-in-touch-sec::before {
  content: '';
  background-color: gold;
  position: absolute;
  top: 4em;
  bottom: 4em;
  left: 33%;
  width: 1px;
  transform: translateX(-50%);
}
.right {
  grid-column: span 2;
  place-items: left;
}
.left {
  place-items: right;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.msg {
  font-size: 1.5em;
  font-weight: bold;
}
@media (max-width: 1200px) {
  .get-in-touch-sec::before {
    display: none;
  }
  .get-in-touch-sec {
    grid-template-columns: 1fr;
    gap: 2em;
    padding: 2em;
  }
  .contact-info {
    margin-bottom: 1em;
  }
  .contact-sec {
    padding: 3em 0em;
  }
}
@media (max-width: 630px) {
  .right form {
    display: flex;
    flex-direction: column;
  }
  .right form textarea {
  }
}
