.footer {
  display: grid;
  grid-template-columns: 1.5fr 1.5fr 1fr 1.5fr;
  background-color: #002647e1;
  width: 100%;
  padding: 1em;
  padding-top: 3em;
  min-height: 18em;
  height: 18em;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
}
footer {
  clip-path: polygon(0% 0, 100% 0%, 100% 100%, 0 100%);
  min-height: 18em;
  z-index: -26;
  height: 18em;
  /* background: url(../assets/forest.jpeg); */
  background-size: cover;
}
.socials {
  height: 90%;
  grid-column: span 2;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}
.socials div h1 {
  color: var(--third-color);
}
.socials div p {
  color: #ffffff;
  width: 60%;
  font-size: 0.9em;
}
.socials .social-links {
  margin-top: 3em;
}
.socials .social-links a {
  font-size: 2em;
}
.sitemap p {
  color: #ffffff;
}
.sitemap {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}
.contact .contact-info {
  margin-bottom: 0.5em;
  font-size: 1.2em;
  white-space: normal;
}
.contact .contact-info div p {
  color: #ffffff;
  white-space: normal;
}
.footer hr {
  height: 1px;
  border: none;
  background-color: grey;
  width: 100%;
  grid-column: span 4;
}
.last {
  grid-column: span 4;
  justify-self: center;
  color: grey;
}
.contact-info div p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.contact .contact-info div p {
  color: #ffffff;
  word-break: break-word; /* Allows breaking long words */
  font-size: 0.9em; /* Slightly smaller font */
  max-width: 100%; /* Prevent overflow */
}
@media (max-width: 762px) {
  .footer {
    grid-template-columns: 1fr 1.5fr;
    gap: 1em;
    height: auto;
    padding-bottom: 1em;
  }
  footer {
    height: 32em;
  }
  .socials {
    grid-column: span 2;
  }
  .sitemap p {
    margin-bottom: 0.5em;
  }
  .footer hr {
    margin: 1em 0;
    grid-column: span 2;
  }
  .last {
    grid-column: span 2;
    height: fit-content;
  }
  .contact-info div {
    white-space: wrap;
  }
}
@media (max-width: 400px) {
  .footer {
    grid-template-columns: 1fr; /* Single column layout */
  }
  footer {
    height: 45em;
  }
  .socials,
  .footer hr,
  .last {
    grid-column: span 1;
  }
}
