.hamburger-container {
  position: relative;
  display: none;
}

.hamburger-line {
  height: 0.1em;
  width: 100%;
  background-color: white;
  position: absolute;
  transition: 0.3s;
  border-radius: 0.5em;
}
.hamburger-menu .hamburger-line:nth-child(1) {
  top: 0;
}
.hamburger-menu .hamburger-line:nth-child(2),
.hamburger-menu-close .hamburger-line:nth-child(2) {
  top: 50%;
}
.hamburger-menu .hamburger-line:nth-child(3),
.hamburger-menu-close .hamburger-line:nth-child(3) {
  top: 100%;
}
.hamburger-menu,
.hamburger-menu-close {
  position: relative;
  height: 0.7em;
  width: max-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 1em;
}
/* translate(-7px, 6px)translate(-6px, -3px) */
.hamburger-menu-close .hamburger-line:nth-child(1) {
  transform: rotate(-45deg) translate(-8px, 2px);
}
.hamburger-menu-close .hamburger-line:nth-child(2) {
  opacity: 0;
}
.hamburger-menu-close .hamburger-line:nth-child(3) {
  transform: rotate(45deg) translate(-5.5px, 0px);
}
.menu-overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  background-color: var(--secondary-color);
  top: 2em;
  left: -15em;
  right: 0;
  min-width: 20em;
  min-height: 100vh;
  border-top: 1px solid var(--primary-color);
}
.menu-item {
  padding: 1em 2.5em;
  color: white;
  z-index: 100;
  border-bottom: 1px solid var(--third-color);
  transition: 0.2s ease;
}
.menu-item:hover {
  background-color: var(--third-color);
}

.menu-item a {
  color: inherit;
  text-decoration: none;
}
@media only screen and (max-width: 760px) {
  .hamburger-container {
    display: inline-block;
    margin-left: 0.5em;
  }
}
