img {
  height: 30em;
  border-bottom-right-radius: 1em;
  border-top-right-radius: 1em;
  width: 100%;
}
.homepage {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  box-shadow: 0em 0em 2em rgba(0, 0, 0, 0.514);
  border-radius: 1em;
  height: 30em;
}
main {
  width: 100%;
  display: flex;
  align-items: center;
  scroll-margin-top: 5em;
  justify-content: center;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em;
  color: var(--secondary-color);
}
.greeting {
  font-size: 3em;
}
.greeting span {
  color: var(--primary-color);
}

.role {
  font-size: 1.3rem;
  margin-bottom: 2em;
}
.refer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.more-btn {
  padding: 0.4em 1em;

  background-color: var(--secondary-color);
  border: none;
  border-radius: 1.2em;
  font-size: 0.7em;
}
.more-btn a {
  color: #ffffff;

  text-decoration: none;
}
.homepage svg {
  font-size: 1.2em;
  transition: 0.5s ease;
}
.social-links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 30%;
}
.homepage svg:hover {
  color: var(--third-color);
  transform: scale(1.5) rotate(-10deg);
}
.link {
  display: flex;
  align-items: center;
}
.social-links a {
  text-decoration: none;
  color: inherit;
}
@media only screen and (max-width: 760px) {
  .homepage {
    padding-top: 2em;
    grid-template-columns: 1fr;
    margin-bottom: 15em;
  }
  img {
    border-radius: 1em;
  }
}
