.skills-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12em;
  position: relative;
}
.skills-grid::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 1px;
  background-color: gold;
}
.skills-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3em;
}
.technical,
.soft {
  align-items: center;
  justify-content: center;
}
.soft .icon,
.technical .icon {
  font-size: 2em;
  margin-right: 0.2em;
  color: inherit;
}
.technical h3,
.soft h3 {
  font-size: 1.5em;
}
.technical-header,
.soft-header {
  width: max-content;

  display: flex;
  padding: 0.5em;
}
.whole-bar {
  position: relative;
  height: 0.4em;
  width: 100%;
  background-color: var(--secondary-color);
  border-radius: 0.2em;
}
.skill div:nth-child(1) {
  color: white;
  display: flex;
  justify-content: space-between;
}
.percent {
  position: absolute;
  background-color: var(--primary-color);
  height: 100%;
  border-radius: inherit;
}
.soft .skills-list div {
  color: white;
  display: flex;
  margin-left: 0.8em;
}

.soft .skills-list div span {
  display: flex;
  align-items: center;
  margin-right: 0.8em;
}
.soft .skills-list span {
  color: black;
}
.skill {
  margin-bottom: 1em;
}
@media only screen and (max-width: 760px) {
  .skills-grid {
    grid-template-columns: 1fr;
    gap: 2em;
  }
  .skills-grid::before {
    display: none;
  }
}
