@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
  --primary-color: #ffd700;
  --secondary-color: #002647;
  --third-color: #0580ec;
  --fourth-color: #0a214d;
}
button {
  cursor: pointer;
}
html {
  min-height: 100em;
  /* background: linear-gradient(to right bottom, #0580ec, var(--secondary-color)); */
  background: linear-gradient(to right bottom, #9cd1ff, #091223);
}
body {
  padding: 5em 0 0 0;
}
.move-to-top {
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 1em;
  right: 1em;
  background-color: var(--third-color);
  padding: 2em;
  width: 1em;
  height: 1em;
  border-radius: 2em;
  border: none;
  animation: jump 2s infinite;
  z-index: 200;
  transition: 0.5s;
}
.move-to-top.show {
  opacity: 1;
}
@keyframes jump {
  0% {
    margin-top: 0;
  }
  50% {
    margin-top: 0.5em;
  }
  100% {
    margin-top: 0em;
  }
}
.move-to-top span {
  text-decoration: none;
  font-size: 2em;
  color: inherit;
}
.portfolio {
  position: relative;
}
@keyframes underline {
  0% {
    right: 90%;
  }
  50% {
    right: 50%;
  }
  100% {
    right: 0%;
  }
}
.deployed {
  color: #0580ec;
}
@keyframes appear {
  from {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}
@keyframes run {
  from {
    width: 0;
  }
}
