@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
  --primary-color: #ffd700;
  --secondary-color: #002647;
  --third-color: #0580ec;
  --fourth-color: #0a214d;
}
button {
  cursor: pointer;
}
html {
  min-height: 100em;
  background: linear-gradient(to right bottom, #0580ec, var(--secondary-color));
}
body {
  padding-top: 5em;
}
.move-to-top {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 2em;
  right: 2em;
  background-color: var(--third-color);
  padding: 2em;
  width: 2em;
  height: 2em;
  border-radius: 2em;
  border: none;
  animation: jump 2s infinite;
}
@keyframes jump {
  0% {
    margin-bottom: 0;
  }
  50% {
    margin-bottom: 0.5em;
  }
  100% {
    margin-top: 0.5em;
  }
}
.move-to-top a {
  text-decoration: none;
  font-size: 2em;
  color: inherit;
}
.portfolio {
  position: relative;
}
