body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.testimonial {
  background-color: #e5fffc;
  width: max-content;
  padding: 3em;
}
.testimonial-2 {
  display: grid;
  place-items: center;
}
.testimonial-author {
  font-weight: bold;
}
.testimonial-quote {
  font-style: italic;
}
.testimonials-nav {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
button {
  background: transparent;
  padding: 0.4em 0.8em;
  border: 1px solid #000000;
  cursor: pointer;
  border-radius: 0.2em;
  transition: 0.2s ease;
}
button:hover {
  background-color: #00d1b9;
  color: white;
  border: 1px solid #00d1b9;
}
