* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin-bottom: 0.8em;
  transition: 1s ease;
}
.accordion-card {
  padding: 1.5em;
  background-color: #545454;
  color: white;
  margin-bottom: 0.5em;
  font-size: 1em;
  transition: 1s ease;
}
section {
  width: 50%;
}
.accordion {
  background-color: #3e3e3e;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content {
  width: 80%;
  color: aqua;
}
