* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
input {
  padding: 1rem;
  background-color: transparent;
  box-shadow: none;
  border: 1px solid white;
  color: white;
}
